## Creating columns
In this chapter, you'll learn how to use the methods defined by Spark's DataFrame class to perform common data operations.

Let's look at performing column-wise operations. In Spark you can do this using the .withColumn() method, which takes two arguments. First, a string with the name of your new column, and second the new column itself.

The new column must be an object of class Column. Creating one of these is as easy as extracting a column from your DataFrame using df.colName.

Updating a Spark DataFrame is somewhat different than working in pandas because the Spark DataFrame is immutable. This means that it can't be changed, and so columns can't be updated in place.

Thus, all these methods return a new DataFrame. To overwrite the original DataFrame you must reassign the returned DataFrame using the method like so:

df = df.withColumn("newCol", df.oldCol + 1)
The above code creates a DataFrame with the same columns as df plus a new column, newCol, where every entry is equal to the corresponding entry from oldCol, plus one.

To overwrite an existing column, just pass the name of the column as the first argument!

Remember, a SparkSession called spark is already in your workspace.

### init

In [4]:
from downloadfromFileIO import saveFromFileIO

#from datacamp
"""
query = "FROM flights SELECT * "
flights = spark.sql(query)
df_flights = flights.toPandas()
uploadToFileIO(df_flights)
"""

tobedownloaded="""
{pandas.core.frame.DataFrame: {'df_flights.csv': 'https://file.io/XDR9sY'}}
"""
prefixToc='1.1'
prefix = saveFromFileIO(tobedownloaded, prefixToc=prefixToc, proxy="10.225.92.1:80")

#initialisation

import pandas as pd
df_flights = pd.read_csv(prefix+'df_flights.csv',index_col=0)

Téléchargements à lancer
{'pandas.core.frame.DataFrame': {'df_flights.csv': 'https://file.io/XDR9sY'}}
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  647k    0  647k    0     0   214k      0 --:--:--  0:00:03 --:--:--  214k

In [6]:
# $SPARK_HOME/sbin/start-master.sh
import findspark
findspark.init()

import numpy as np
import pandas as pd
import pyspark
from pyspark.sql import SparkSession

# Create my_spark
spark = SparkSession.builder.getOrCreate()

In [8]:
df_flights.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year       10000 non-null  int64
 1   month      10000 non-null  int64
 2   day        10000 non-null  int64
 3   dep_time   9952 non-null   float64
 4   dep_delay  9952 non-null   float64
 5   arr_time   9945 non-null   float64
 6   arr_delay  9925 non-null   float64
 7   carrier    10000 non-null  object
 8   tailnum    9986 non-null   object
 9   flight     10000 non-null  int64
 10  origin     10000 non-null  object
 11  dest       10000 non-null  object
 12  air_time   9925 non-null   float64
 13  distance   10000 non-null  int64
 14  hour       9952 non-null   float64
 15  minute     9952 non-null   float64
dtypes: float64(7), int64(5), object(4)
memory usage: 1.3+ MB

In [13]:
#pour eviter l'erreur
#TypeError: Can not merge type <class 'pyspark.sql.types.StringType'> and <class 'pyspark.sql.types.DoubleType'>
df_flights=df_flights.astype(str)

In [10]:
# Create spark_temp from pd_temp
spark_flights = spark.createDataFrame(df_flights)

# Examine the tables in the catalog
print(spark.catalog.listTables())

# Add spark_temp to the catalog
spark_flights.createOrReplaceTempView('flights')

# Examine the tables in the catalog again
print(spark.catalog.listTables())

[]
[Table(name='flights', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

### code

In [11]:
# $SPARK_HOME/sbin/start-master.sh
import findspark
findspark.init()

import numpy as np
import pandas as pd
import pyspark
from pyspark.sql import SparkSession

# Create my_spark
spark = SparkSession.builder.getOrCreate()

In [12]:
# Create the DataFrame flights
flights = spark.table('flights')

# Show the head
flights.show()

# Add duration_hrs
flights = flights.withColumn('duration_hrs',flights.air_time / 60)

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|2014|   12|  8|   658.0|     -7.0|   935.0|     -5.0|     VX| N846VA|  1780|   SEA| LAX|   132.0|     954| 6.0|  58.0|
|2014|    1| 22|  1040.0|      5.0|  1505.0|      5.0|     AS| N559AS|   851|   SEA| HNL|   360.0|    2677|10.0|  40.0|
|2014|    3|  9|  1443.0|     -2.0|  1652.0|      2.0|     VX| N847VA|   755|   SEA| SFO|   111.0|     679|14.0|  43.0|
|2014|    4|  9|  1705.0|     45.0|  1839.0|     34.0|     WN| N360SW|   344|   PDX| SJC|    83.0|     569|17.0|   5.0|
|2014|    3|  9|   754.0|     -1.0|  1015.0|      1.0|     AS| N612AS|   522|   SEA| BUR|   127.0|     937| 7.0|  54.0|
|2014|    1| 15|  1037.0|      7.0|  1352.0|      2.0|     WN| N646SW|    48|   PDX| DEN|   121.0|     991|10.0|  37.0|
|2014|    7|  2|   847.0|     42.0|  1041.0|     51.0|     WN| N422WN|  1520|   PDX| OAK|    90.0|     543| 8.0|  47.0|
|2014|    5| 12|  1655.0|     -5.0|  1842.0|    -18.0|     VX| N361VA|   755|   SEA| SFO|    98.0|     679|16.0|  55.0|
|2014|    4| 19|  1236.0|     -4.0|  1508.0|     -7.0|     AS| N309AS|   490|   SEA| SAN|   135.0|    1050|12.0|  36.0|
|2014|   11| 19|  1812.0|     -3.0|  2352.0|     -4.0|     AS| N564AS|    26|   SEA| ORD|   198.0|    1721|18.0|  12.0|
|2014|   11|  8|  1653.0|     -2.0|  1924.0|     -1.0|     AS| N323AS|   448|   SEA| LAX|   130.0|     954|16.0|  53.0|
|2014|    8|  3|  1120.0|      0.0|  1415.0|      2.0|     AS| N305AS|   656|   SEA| PHX|   154.0|    1107|11.0|  20.0|
|2014|   10| 30|   811.0|     21.0|  1038.0|     29.0|     AS| N433AS|   608|   SEA| LAS|   127.0|     867| 8.0|  11.0|
|2014|   11| 12|  2346.0|     -4.0|   217.0|    -28.0|     AS| N765AS|   121|   SEA| ANC|   183.0|    1448|23.0|  46.0|
|2014|   10| 31|  1314.0|     89.0|  1544.0|    111.0|     AS| N713AS|   306|   SEA| SFO|   129.0|     679|13.0|  14.0|
|2014|    1| 29|  2009.0|      3.0|  2159.0|      9.0|     UA| N27205|  1458|   PDX| SFO|    90.0|     550|20.0|   9.0|
|2014|   12| 17|  2015.0|     50.0|  2150.0|     41.0|     AS| N626AS|   368|   SEA| SMF|    76.0|     605|20.0|  15.0|
|2014|    8| 11|  1017.0|     -3.0|  1613.0|     -7.0|     WN| N8634A|   827|   SEA| MDW|   216.0|    1733|10.0|  17.0|
|2014|    1| 13|  2156.0|     -9.0|   607.0|    -15.0|     AS| N597AS|    24|   SEA| BOS|   290.0|    2496|21.0|  56.0|
|2014|    6|  5|  1733.0|    -12.0|  1945.0|    -10.0|     OO| N215AG|  3488|   PDX| BUR|   111.0|     817|17.0|  33.0|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
only showing top 20 rows

## Filtering Data
Now that you have a bit of SQL know-how under your belt, it's easier to talk about the analogous operations using Spark DataFrames.

Let's take a look at the .filter() method. As you might suspect, this is the Spark counterpart of SQL's WHERE clause. The .filter() method takes either an expression that would follow the WHERE clause of a SQL expression as a string, or a Spark Column of boolean (True/False) values.

For example, the following two expressions will produce the same output:

flights.filter("air_time > 120").show()
flights.filter(flights.air_time > 120).show()
Notice that in the first case, we pass a string to .filter(). In SQL, we would write this filtering task as SELECT * FROM flights WHERE air_time > 120. Spark's .filter() can accept any expression that could go in the WHEREclause of a SQL query (in this case, "air_time > 120"), as long as it is passed as a string. Notice that in this case, we do not reference the name of the table in the string -- as we wouldn't in the SQL request.

In the second case, we actually pass a column of boolean values to .filter(). Remember that flights.air_time > 120 returns a column of boolean values that has True in place of those records in flights.air_time that are over 120, and False otherwise.

Remember, a SparkSession called spark is already in your workspace, along with the Spark DataFrame flights.

### code

In [14]:
# Filter flights by passing a string
long_flights1 = flights.filter('distance > 1000')

# Filter flights by passing a column of boolean values
long_flights2 = flights.filter(flights.distance > 1000)

# Print the data to check they're equal
long_flights1.show()
long_flights2.show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|      duration_hrs|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------------+
|2014|   12|  8|   658.0|     -7.0|   935.0|     -5.0|     VX| N846VA|  1780|   SEA| LAX|   132.0|     954| 6.0|  58.0|               2.2|
|2014|    1| 22|  1040.0|      5.0|  1505.0|      5.0|     AS| N559AS|   851|   SEA| HNL|   360.0|    2677|10.0|  40.0|               6.0|
|2014|    3|  9|  1443.0|     -2.0|  1652.0|      2.0|     VX| N847VA|   755|   SEA| SFO|   111.0|     679|14.0|  43.0|              1.85|
|2014|    4|  9|  1705.0|     45.0|  1839.0|     34.0|     WN| N360SW|   344|   PDX| SJC|    83.0|     569|17.0|   5.0|1.3833333333333333|
|2014|    3|  9|   754.0|     -1.0|  1015.0|      1.0|     AS| N612AS|   522|   SEA| BUR|   127.0|     937| 7.0|  54.0|2.1166666666666667|
|2014|    1| 15|  1037.0|      7.0|  1352.0|      2.0|     WN| N646SW|    48|   PDX| DEN|   121.0|     991|10.0|  37.0|2.0166666666666666|
|2014|    7|  2|   847.0|     42.0|  1041.0|     51.0|     WN| N422WN|  1520|   PDX| OAK|    90.0|     543| 8.0|  47.0|               1.5|
|2014|    5| 12|  1655.0|     -5.0|  1842.0|    -18.0|     VX| N361VA|   755|   SEA| SFO|    98.0|     679|16.0|  55.0|1.6333333333333333|
|2014|    4| 19|  1236.0|     -4.0|  1508.0|     -7.0|     AS| N309AS|   490|   SEA| SAN|   135.0|    1050|12.0|  36.0|              2.25|
|2014|   11| 19|  1812.0|     -3.0|  2352.0|     -4.0|     AS| N564AS|    26|   SEA| ORD|   198.0|    1721|18.0|  12.0|               3.3|
|2014|   11|  8|  1653.0|     -2.0|  1924.0|     -1.0|     AS| N323AS|   448|   SEA| LAX|   130.0|     954|16.0|  53.0|2.1666666666666665|
|2014|    8|  3|  1120.0|      0.0|  1415.0|      2.0|     AS| N305AS|   656|   SEA| PHX|   154.0|    1107|11.0|  20.0| 2.566666666666667|
|2014|   10| 30|   811.0|     21.0|  1038.0|     29.0|     AS| N433AS|   608|   SEA| LAS|   127.0|     867| 8.0|  11.0|2.1166666666666667|
|2014|   11| 12|  2346.0|     -4.0|   217.0|    -28.0|     AS| N765AS|   121|   SEA| ANC|   183.0|    1448|23.0|  46.0|              3.05|
|2014|   10| 31|  1314.0|     89.0|  1544.0|    111.0|     AS| N713AS|   306|   SEA| SFO|   129.0|     679|13.0|  14.0|              2.15|
|2014|    1| 29|  2009.0|      3.0|  2159.0|      9.0|     UA| N27205|  1458|   PDX| SFO|    90.0|     550|20.0|   9.0|               1.5|
|2014|   12| 17|  2015.0|     50.0|  2150.0|     41.0|     AS| N626AS|   368|   SEA| SMF|    76.0|     605|20.0|  15.0|1.2666666666666666|
|2014|    8| 11|  1017.0|     -3.0|  1613.0|     -7.0|     WN| N8634A|   827|   SEA| MDW|   216.0|    1733|10.0|  17.0|               3.6|
|2014|    1| 13|  2156.0|     -9.0|   607.0|    -15.0|     AS| N597AS|    24|   SEA| BOS|   290.0|    2496|21.0|  56.0| 4.833333333333333|
|2014|    6|  5|  1733.0|    -12.0|  1945.0|    -10.0|     OO| N215AG|  3488|   PDX| BUR|   111.0|     817|17.0|  33.0|              1.85|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------------+
only showing top 20 rows

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|      duration_hrs|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------------+
|2014|   12|  8|   658.0|     -7.0|   935.0|     -5.0|     VX| N846VA|  1780|   SEA| LAX|   132.0|     954| 6.0|  58.0|               2.2|
|2014|    1| 22|  1040.0|      5.0|  1505.0|      5.0|     AS| N559AS|   851|   SEA| HNL|   360.0|    2677|10.0|  40.0|               6.0|
|2014|    3|  9|  1443.0|     -2.0|  1652.0|      2.0|     VX| N847VA|   755|   SEA| SFO|   111.0|     679|14.0|  43.0|              1.85|
|2014|    4|  9|  1705.0|     45.0|  1839.0|     34.0|     WN| N360SW|   344|   PDX| SJC|    83.0|     569|17.0|   5.0|1.3833333333333333|
|2014|    3|  9|   754.0|     -1.0|  1015.0|      1.0|     AS| N612AS|   522|   SEA| BUR|   127.0|     937| 7.0|  54.0|2.1166666666666667|
|2014|    1| 15|  1037.0|      7.0|  1352.0|      2.0|     WN| N646SW|    48|   PDX| DEN|   121.0|     991|10.0|  37.0|2.0166666666666666|
|2014|    7|  2|   847.0|     42.0|  1041.0|     51.0|     WN| N422WN|  1520|   PDX| OAK|    90.0|     543| 8.0|  47.0|               1.5|
|2014|    5| 12|  1655.0|     -5.0|  1842.0|    -18.0|     VX| N361VA|   755|   SEA| SFO|    98.0|     679|16.0|  55.0|1.6333333333333333|
|2014|    4| 19|  1236.0|     -4.0|  1508.0|     -7.0|     AS| N309AS|   490|   SEA| SAN|   135.0|    1050|12.0|  36.0|              2.25|
|2014|   11| 19|  1812.0|     -3.0|  2352.0|     -4.0|     AS| N564AS|    26|   SEA| ORD|   198.0|    1721|18.0|  12.0|               3.3|
|2014|   11|  8|  1653.0|     -2.0|  1924.0|     -1.0|     AS| N323AS|   448|   SEA| LAX|   130.0|     954|16.0|  53.0|2.1666666666666665|
|2014|    8|  3|  1120.0|      0.0|  1415.0|      2.0|     AS| N305AS|   656|   SEA| PHX|   154.0|    1107|11.0|  20.0| 2.566666666666667|
|2014|   10| 30|   811.0|     21.0|  1038.0|     29.0|     AS| N433AS|   608|   SEA| LAS|   127.0|     867| 8.0|  11.0|2.1166666666666667|
|2014|   11| 12|  2346.0|     -4.0|   217.0|    -28.0|     AS| N765AS|   121|   SEA| ANC|   183.0|    1448|23.0|  46.0|              3.05|
|2014|   10| 31|  1314.0|     89.0|  1544.0|    111.0|     AS| N713AS|   306|   SEA| SFO|   129.0|     679|13.0|  14.0|              2.15|
|2014|    1| 29|  2009.0|      3.0|  2159.0|      9.0|     UA| N27205|  1458|   PDX| SFO|    90.0|     550|20.0|   9.0|               1.5|
|2014|   12| 17|  2015.0|     50.0|  2150.0|     41.0|     AS| N626AS|   368|   SEA| SMF|    76.0|     605|20.0|  15.0|1.2666666666666666|
|2014|    8| 11|  1017.0|     -3.0|  1613.0|     -7.0|     WN| N8634A|   827|   SEA| MDW|   216.0|    1733|10.0|  17.0|               3.6|
|2014|    1| 13|  2156.0|     -9.0|   607.0|    -15.0|     AS| N597AS|    24|   SEA| BOS|   290.0|    2496|21.0|  56.0| 4.833333333333333|
|2014|    6|  5|  1733.0|    -12.0|  1945.0|    -10.0|     OO| N215AG|  3488|   PDX| BUR|   111.0|     817|17.0|  33.0|              1.85|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+------------------+
only showing top 20 rows

## Selecting
The Spark variant of SQL's SELECT is the .select() method. This method takes multiple arguments - one for each column you want to select. These arguments can either be the column name as a string (one for each column) or a column object (using the df.colName syntax). When you pass a column object, you can perform operations like addition or subtraction on the column to change the data contained in it, much like inside .withColumn().

The difference between .select() and .withColumn() methods is that .select() returns only the columns you specify, while .withColumn() returns all the columns of the DataFrame in addition to the one you defined. It's often a good idea to drop columns you don't need at the beginning of an operation so that you're not dragging around extra data as you're wrangling. In this case, you would use .select() and not .withColumn().

Remember, a SparkSession called spark is already in your workspace, along with the Spark DataFrame flights.

### code

In [17]:
# Select the first set of columns
selected1 = flights.select("tailnum", 'origin', 'dest')

# Select the second set of columns
temp = flights.select(flights.origin, flights.dest, flights.carrier)

# Define first filter
filterA = flights.origin == "SEA"

# Define second filter
filterB = flights.dest == "PDX"

# Filter the data, first by filterA then by filterB
selected2 = temp.filter(filterA).filter(filterB)

## Selecting II
Similar to SQL, you can also use the .select() method to perform column-wise operations. When you're selecting a column using the df.colName notation, you can perform any column operation and the .select() method will return the transformed column. For example,

flights.select(flights.air_time/60)
returns a column of flight durations in hours instead of minutes. You can also use the .alias() method to rename a column you're selecting. So if you wanted to .select() the column duration_hrs (which isn't in your DataFrame) you could do

flights.select((flights.air_time/60).alias("duration_hrs"))
The equivalent Spark DataFrame method .selectExpr() takes SQL expressions as a string:

flights.selectExpr("air_time/60 as duration_hrs")
with the SQL as keyword being equivalent to the .alias() method. To select multiple columns, you can pass multiple strings.

Remember, a SparkSession called spark is already in your workspace, along with the Spark DataFrame flights.

### code

In [18]:
# Define avg_speed
avg_speed = (flights.distance/(flights.air_time/60)).alias("avg_speed")

# Select the correct columns
speed1 = flights.select("origin", "dest", "tailnum", avg_speed)

# Create the same table using a SQL expression
speed2 = flights.selectExpr("origin", "dest", "tailnum", "distance/(air_time/60) as avg_speed")

## Aggregating
All of the common aggregation methods, like .min(), .max(), and .count() are GroupedData methods. These are created by calling the .groupBy() DataFrame method. You'll learn exactly what that means in a few exercises. For now, all you have to do to use these functions is call that method on your DataFrame. For example, to find the minimum value of a column, col, in a DataFrame, df, you could do

df.groupBy().min("col").show()
This creates a GroupedData object (so you can use the .min() method), then finds the minimum value in col, and returns it as a DataFrame.

Now you're ready to do some aggregating of your own!

A SparkSession called spark is already in your workspace, along with the Spark DataFrame flights.

### code

In [24]:
# Find the shortest flight from PDX in terms of distance
flights.filter(flights.origin == 'PDX').groupBy().min('distance').show()

# Find the longest flight from SEA in terms of air time
flights.filter(flights.origin == 'SEA').groupBy().max('air_time').show()

AnalysisException: '"distance" is not a numeric column. Aggregation function can only be applied on a numeric column.;'

## Aggregating II
To get you familiar with more of the built in aggregation methods, here's a few more exercises involving the flights table!

Remember, a SparkSession called spark is already in your workspace, along with the Spark DataFrame flights.

### code

In [25]:
# Average duration of Delta flights
flights.filter(flights.carrier == 'DL').filter(flights.origin=='SEA').groupBy().avg('air_time').show()

# Total hours in the air
flights.withColumn("duration_hrs", flights.air_time/60).groupBy().sum('duration_hrs').show()

AnalysisException: '"air_time" is not a numeric column. Aggregation function can only be applied on a numeric column.;'

## Grouping and Aggregating I
Part of what makes aggregating so powerful is the addition of groups. PySpark has a whole class devoted to grouped data frames: pyspark.sql.GroupedData, which you saw in the last two exercises.

You've learned how to create a grouped DataFrame by calling the .groupBy() method on a DataFrame with no arguments.

Now you'll see that when you pass the name of one or more columns in your DataFrame to the .groupBy() method, the aggregation methods behave like when you use a GROUP BY statement in a SQL query!

Remember, a SparkSession called spark is already in your workspace, along with the Spark DataFrame flights.

### code

In [26]:
# Group by tailnum
by_plane = flights.groupBy("tailnum")

# Number of flights each plane made
by_plane.count().show()

# Group by origin
by_origin = flights.groupBy("origin")

# Average duration of flights from PDX and SEA
by_origin.avg("air_time").show()

+-------+-----+
|tailnum|count|
+-------+-----+
| N442AS|   38|
| N102UW|    2|
| N36472|    4|
| N38451|    4|
| N73283|    4|
| N513UA|    2|
| N954WN|    5|
| N388DA|    3|
| N567AA|    1|
| N516UA|    2|
| N927DN|    1|
| N8322X|    1|
| N466SW|    1|
|  N6700|    1|
| N607AS|   45|
| N622SW|    4|
| N584AS|   31|
| N914WN|    4|
| N654AW|    2|
| N336NW|    1|
+-------+-----+
only showing top 20 rows

AnalysisException: '"air_time" is not a numeric column. Aggregation function can only be applied on a numeric column.;'

## Grouping and Aggregating II
In addition to the GroupedData methods you've already seen, there is also the .agg() method. This method lets you pass an aggregate column expression that uses any of the aggregate functions from the pyspark.sql.functions submodule.

This submodule contains many useful functions for computing things like standard deviations. All the aggregation functions in this submodule take the name of a column in a GroupedData table.

Remember, a SparkSession called spark is already in your workspace, along with the Spark DataFrame flights. The grouped DataFrames you created in the last exercise are also in your workspace.

### code

In [27]:
# Import pyspark.sql.functions as F
import pyspark.sql.functions as F

# Group by month and dest
by_month_dest = flights.groupBy('month', 'dest')

# Average departure delay by month and destination
by_month_dest.avg('dep_delay').show()

# Standard deviation of departure delay
by_month_dest.agg(F.stddev('dep_delay')).show()

AnalysisException: '"dep_delay" is not a numeric column. Aggregation function can only be applied on a numeric column.;'

## Joining II
In PySpark, joins are performed using the DataFrame method .join(). This method takes three arguments. The first is the second DataFrame that you want to join with the first one. The second argument, on, is the name of the key column(s) as a string. The names of the key column(s) must be the same in each table. The third argument, how, specifies the kind of join to perform. In this course we'll always use the value how="leftouter".

The flights dataset and a new dataset called airports are already in your workspace.

### init

In [28]:
import pandas as pd
prefix = 'data_from_datacamp/chapter1-Exercise2.7_'
df_airport = pd.read_csv(prefix+'airports.csv',index_col=0)

In [44]:
df_airport.reset_index(inplace=True)

In [45]:
# Create spark_temp from pd_temp
airports = spark.createDataFrame(df_airport)

# Examine the tables in the catalog
print(spark.catalog.listTables())

# Add spark_temp to the catalog
airports.createOrReplaceTempView('airports')

[Table(name='airports', database=None, description=None, tableType='TEMPORARY', isTemporary=True), Table(name='flights', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [46]:
print(spark.catalog.listTables())

[Table(name='airports', database=None, description=None, tableType='TEMPORARY', isTemporary=True), Table(name='flights', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

### code

In [47]:

# Rename the faa column
airports = airports.withColumnRenamed('faa', 'dest')

# Examine the data
print(airports.show())


# Join the DataFrames
flights_with_airports = flights.join(airports, on='dest', how='leftouter')

# Examine the new DataFrame
print(flights_with_airports.show())

+----+--------------------+------------------+-------------------+----+---+---+
|dest|                name|               lat|                lon| alt| tz|dst|
+----+--------------------+------------------+-------------------+----+---+---+
| 04G|   Lansdowne Airport|        41.1304722|        -80.6195833|1044| -5|  A|
| 06A|Moton Field Munic...|        32.4605722| -85.68002779999999| 264| -5|  A|
| 06C| Schaumburg Regional|        41.9893408|        -88.1012428| 801| -6|  A|
| 06N|     Randall Airport|         41.431912| -74.39156109999999| 523| -5|  A|
| 09J|Jekyll Island Air...|31.074472200000002| -81.42777779999999|  11| -4|  A|
| 0A9|Elizabethton Muni...|        36.3712222|        -82.1734167|1593| -4|  A|
| 0G6|Williams County A...|        41.4673056|        -84.5067778| 730| -5|  A|
| 0G7|Finger Lakes Regi...| 42.88356470000001|        -76.7812318| 492| -5|  A|
| 0P2|Shoestring Aviati...|        39.7948244| -76.64719140000001|1000| -5|  U|
| 0S9|Jefferson County ...|        48.0538086|-122.81064359999999| 108| -8|  A|
| 0W3|Harford County Ai...|39.566837799999995| -76.20240279999999| 409| -5|  A|
| 10C|  Galt Field Airport|42.402888899999994|        -88.3751111| 875| -6|  U|
| 17G|Port Bucyrus-Craw...|40.781555600000004|        -82.9748056|1003| -5|  A|
| 19A|Jackson County Ai...|34.175863799999995| -83.56159720000001| 951| -4|  U|
| 1A3|Martin Campbell F...| 35.01580560000001|        -84.3468333|1789| -4|  A|
| 1B9| Mansfield Municipal|        42.0001331|        -71.1967714| 122| -5|  A|
| 1C9|Frazier Lake Airpark|  54.0133333333333|-124.76833333333299| 152| -8|  A|
| 1CS|Clow Internationa...|        41.6959744|        -88.1292306| 670| -6|  U|
| 1G3|  Kent State Airport| 41.15138889999999| -81.41511109999999|1134| -4|  A|
| 1OH|     Fortman Airport|        40.5553253|        -84.3866186| 885| -5|  U|
+----+--------------------+------------------+-------------------+----+---+---+
only showing top 20 rows

None
+----+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+--------+--------+----+------+------------------+--------------------+---------+-----------+----+---+---+
|dest|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|air_time|distance|hour|minute|      duration_hrs|                name|      lat|        lon| alt| tz|dst|
+----+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+--------+--------+----+------+------------------+--------------------+---------+-----------+----+---+---+
| MSY|2014|    8| 16|  1014.0|     -1.0|  1644.0|    -16.0|     AS| N549AS|   788|   SEA|   248.0|    2086|10.0|  14.0| 4.133333333333334|Louis Armstrong N...|29.993389| -90.258028|   4| -6|  A|
| MSY|2014|   10| 29|  1009.0|     -6.0|  1613.0|    -47.0|     AS| N532AS|   788|   SEA|   224.0|    2086|10.0|   9.0|3.7333333333333334|Louis Armstrong N...|29.993389| -90.258028|   4| -6|  A|
| MSY|2014|    8| 18|  1028.0|     13.0|  1647.0|    -13.0|     AS| N315AS|   788|   SEA|   240.0|    2086|10.0|  28.0|               4.0|Louis Armstrong N...|29.993389| -90.258028|   4| -6|  A|
| MSY|2014|    9| 30|  1021.0|      6.0|  1638.0|    -22.0|     AS| N419AS|   788|   SEA|   239.0|    2086|10.0|  21.0|3.9833333333333334|Louis Armstrong N...|29.993389| -90.258028|   4| -6|  A|
| MSY|2014|    9| 28|  1023.0|      8.0|  1721.0|     21.0|     AS| N527AS|   788|   SEA|   258.0|    2086|10.0|  23.0|               4.3|Louis Armstrong N...|29.993389| -90.258028|   4| -6|  A|
| MSY|2014|   10| 15|  1016.0|      1.0|  1647.0|    -13.0|     AS| N524AS|   788|   SEA|   249.0|    2086|10.0|  16.0|              4.15|Louis Armstrong N...|29.993389| -90.258028|   4| -6|  A|
| MSY|2014|   12| 28|  1052.0|     12.0|  1715.0|    -15.0|     AS| N523AS|   788|   SEA|   244.0|    2086|10.0|  52.0| 4.066666666666666|Louis Armstrong N...|29.993389| -90.258028|   4| -6|  A|
| MSY|2014|    6| 30|  1014.0|     -1.0|  1622.0|    -38.0|     AS| N556AS|   788|   SEA|   236.0|    2086|10.0|  14.0| 3.933333333333333|Louis Armstrong N...|29.993389| -90.258028|   4| -6|  A|
| MSY|2014|    9|  3|  1015.0|      0.0|  1636.0|    -24.0|     AS| N557AS|   788|   SEA|   243.0|    2086|10.0|  15.0|              4.05|Louis Armstrong N...|29.993389| -90.258028|   4| -6|  A|
| GEG|2014|    7| 13|  2125.0|     -5.0|  2216.0|     -8.0|     AS| N315AS|   694|   SEA|    37.0|     224|21.0|  25.0|0.6166666666666667|        Spokane Intl|47.619861|-117.533833|2376| -8|  A|
| GEG|2014|    2| 14|  2002.0|      2.0|  2056.0|      1.0|     AS| N788AS|   694|   SEA|    38.0|     224|20.0|   2.0|0.6333333333333333|        Spokane Intl|47.619861|-117.533833|2376| -8|  A|
| GEG|2014|    2|  5|  2249.0|    -11.0|  2338.0|    -19.0|     AS| N644AS|   698|   SEA|    36.0|     224|22.0|  49.0|               0.6|        Spokane Intl|47.619861|-117.533833|2376| -8|  A|
| GEG|2014|   11| 25|  1226.0|      6.0|  1325.0|      8.0|     AS| N318AS|   684|   SEA|    32.0|     224|12.0|  26.0|0.5333333333333333|        Spokane Intl|47.619861|-117.533833|2376| -8|  A|
| GEG|2014|    3|  2|  1316.0|     71.0|  1414.0|     74.0|     AS| N516AS|   674|   SEA|    37.0|     224|13.0|  16.0|0.6166666666666667|        Spokane Intl|47.619861|-117.533833|2376| -8|  A|
| GEG|2014|    4|  6|  1240.0|     50.0|  1331.0|     48.0|     AS| N795AS|   684|   SEA|    35.0|     224|12.0|  40.0|0.5833333333333334|        Spokane Intl|47.619861|-117.533833|2376| -8|  A|
| GEG|2014|    8| 12|  1032.0|      7.0|  1142.0|     19.0|     AS| N794AS|   414|   SEA|    37.0|     224|10.0|  32.0|0.6166666666666667|        Spokane Intl|47.619861|-117.533833|2376| -8|  A|
| GEG|2014|   11|  9|  1605.0|      5.0|  1705.0|      7.0|     AS| N706AS|   696|   SEA|    36.0|     224|16.0|   5.0|               0.6|        Spokane Intl|47.619861|-117.533833|2376| -8|  A|
| GEG|2014|    3| 26|  1149.0|     -1.0|  1248.0|      5.0|     AS| N644AS|   684|   SEA|    42.0|     224|11.0|  49.0|               0.7|        Spokane Intl|47.619861|-117.533833|2376| -8|  A|
| GEG|2014|    8| 12|   753.0|     -7.0|   853.0|     -5.0|     AS| N792AS|   690|   SEA|    38.0|     224| 7.0|  53.0|0.6333333333333333|        Spokane Intl|47.619861|-117.533833|2376| -8|  A|
| GEG|2014|    8|  7|  1558.0|     -2.0|  1657.0|      1.0|     AS| N794AS|   688|   SEA|    36.0|     224|15.0|  58.0|               0.6|        Spokane Intl|47.619861|-117.533833|2376| -8|  A|
+----+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+--------+--------+----+------+------------------+--------------------+---------+-----------+----+---+---+
only showing top 20 rows

None