In [9]:
import pyodbc
pyodbc.drivers()

['Driver da Microsoft para arquivos texto (*.txt; *.csv)',
 'Driver do Microsoft Access (*.mdb)',
 'Driver do Microsoft dBase (*.dbf)',
 'Driver do Microsoft Excel(*.xls)',
 'Driver do Microsoft Paradox (*.db )',
 'Microsoft Access Driver (*.mdb)',
 'Microsoft Access-Treiber (*.mdb)',
 'Microsoft dBase Driver (*.dbf)',
 'Microsoft dBase-Treiber (*.dbf)',
 'Microsoft Excel Driver (*.xls)',
 'Microsoft Excel-Treiber (*.xls)',
 'Microsoft ODBC for Oracle',
 'Microsoft Paradox Driver (*.db )',
 'Microsoft Paradox-Treiber (*.db )',
 'Microsoft Text Driver (*.txt; *.csv)',
 'Microsoft Text-Treiber (*.txt; *.csv)',
 'SQL Server',
 'Microsoft Visual FoxPro Driver',
 'Microsoft FoxPro VFP Driver (*.dbf)',
 'Microsoft dBase VFP Driver (*.dbf)',
 'Microsoft Visual FoxPro-Treiber',
 'Driver para o Microsoft Visual FoxPro',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)',
 'Microsoft Access Text Driver (*.txt, *.csv)']

In [8]:
import struct
print("running as {0}-bit".format(struct.calcsize("P") * 8))

running as 32-bit

In [21]:
import pyodbc
pyodbc.lowercase = False
conn = pyodbc.connect(
    r"Driver={Microsoft Access Driver (*.mdb, *.accdb)};" +
    r"Dbq=D:\git\datacamp-itp\data-scientist-skills\python-sandbox\pandas-access-db\data\AccessDB.accdb;")
cur = conn.cursor()
query="SELECT * FROM Zoe"
cur.execute(query);
while True:
    row = cur.fetchone()
    if row is None:
        break
    print(len(row), row)
    #print(u"Date {1}, kms ({2})".format(
     #   row.get("Date roulement"), row.get("Kilomètres")))
        
cur.close()
conn.close()

3 (1, datetime.datetime(2019, 10, 18, 0, 0), 1250)

In [22]:
import pyodbc
import pandas as pd
pyodbc.lowercase = False
conn = pyodbc.connect(
    r"Driver={Microsoft Access Driver (*.mdb, *.accdb)};" +
    r"Dbq=D:\git\datacamp-itp\data-scientist-skills\python-sandbox\pandas-access-db\data\AccessDB.accdb;")
query="SELECT * FROM Zoe"
dataf = pd.read_sql(query, conn)
conn.close()
dataf

   N° Date roulement  Kilomètres
0   1     2019-10-18        1250