In [1]:
import numpy as np
import pandas as pd

data = pd.Series([1, 2, np.nan, 4, 5])
data.head()

0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64

In [3]:
import numpy as np
import pandas as pd

data = pd.Series([1, 2, np.nan, 4, np.nan])
data.fillna(method = 'ffill')

0    1.0
1    2.0
2    2.0
3    4.0
4    4.0
dtype: float64

In [4]:
import numpy as np
import pandas as pd

data = pd.Series(['apple','banana','apple', 'banana'])
data.str.upper()

0     APPLE
1    BANANA
2     APPLE
3    BANANA
dtype: object

In [8]:
from datetime import date

date_of_birth = date(1986, 12, 9)

fmt = '%b %d %Y'

print(date_of_birth.strftime(fmt))

Dec 09 1986

In [10]:
import pandas as pd

pd.DataFrame({'x':'a', 'x':'b'}, index = [0, 1])

   x
0  b
1  b

In [15]:
import pandas as pd

x = pd.Series(["2018-01-01", "2019-01-01"], dtype = "datetime64[ns]") 

x.dt.year.astype('int64')

0    2018
1    2019
dtype: int64